
body{ 
  background:rgb(18, 112, 112);
 }

.continer {
  width: 1024px;
  margin: 0px auto;
  padding: 0px 13px;}
  
/*titletext*/ 

.text {
  display: -moz-inline-stack;
  background: #fac67a;   
  color: rgb(18, 112, 112);
  border-radius: 15px;
  margin-bottom: 20px;}
  
h1 { margin: 20px;
    font-size: 50px;
    text-align: center;
    font-family:'Courier New', Courier, monospace}

h2 {
  
    font-size: 20px;
    font-style: oblique;
    text-align: center;}

 /*button*/ 

.button{
  display: inline-block;
  background:rgb(18, 112, 112);
  color: azure;
    
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
  width: 300px;
  height: 23px;
  padding: 18px ;
  
  box-shadow: 6px 6px 6px rgb(17, 17, 17);
    
   
    font-family:'Courier New', Courier, monospace}


a:hover
{ background-color: rgb(129, 153, 160);}

.box{
  
  flex-basis: 40px;
  padding: 3rem 20rem ;
  border-radius: 9px;
  background-image: url(../img/02.jpg)}